table {
          width: 1200px;
          height: 300px;
          margin: 0 auto;
          /*  border-collapse边框合并*/
          border-collapse: collapse;
}

/* table下面的2，3，4行.line的每行的第二个单元格宽度td2.width---香辣美味辣条开袋即食够你爽美味---- */
table .line .td2-width {
          width: 300px;
          text-align:center;
}

/* table下面的第二行.t2, 下面的第四个单元格的宽度 */
table .t2 .fourthCellWidth {
          width: 200px;
}

/* ----------------------三个-div盒子的大小----------------- */
table .t2 .fourthCellWidth .minusSign {
          display: inline-block;
          /* 块级盒子不独占一行 */
          border: 1px solid rgb(0, 255, 208);
          width: 60px;
          height: 50px;
          line-height: 50px;
}

table .t2 .fourthCellWidth .variation {
          display: inline-block;
          border: 1px solid rgb(0, 255, 217);
          width: 60px;
          height: 50px;
          line-height: 50px;
}

table .t2 .fourthCellWidth .plus {
          display: inline-block;
          border: 1px solid rgb(0, 255, 183);
          width: 60px;
          height: 50px;
          line-height: 50px;
}

/* ------------------------------------------------------------ */
/* 第一行顶部的单元格边框 */
table .first-row-without-borders td {
          /* 所有的td */
          border: 1px solid rgb(144, 142, 142);
          width: 140px;
          text-align: center;
}

/* 第一行tr的第一个单元格.td1的样式 */
table .first-row-without-borders .td1 {
          text-align: left;
          height: 100px;
}

/* table下面的所有tr行，所有单元格td下面的span文本样式 */
table tr td span {
          font-size: 20px;
          font-weight: bold;
          font-family: Noto Serif SC;
}

/* ------------------------第二行 -------------------------*/
/* table下面的第二行的第1个单元格的样式 --包含商品图片和复选框*/
table .t2 .td1 {

          text-align: left;
          position: relative;
          height: 160px;

}

/* 第二行的所有td单元格的样式 */
table .t2 td {
          border: none;
}

/* 第二行的第1个单元格的图片img样式 */
table .t2 .td1 img {
          position: absolute;
          height: 100px;
          top: 30px;
          right: 0px;
}

/* ---------------------第三行开始-------------------------- */

/* 第三行的第四个单元格宽度 */

table .tr3 .fourthCellWidth .minusSign {
          display: inline-block;
          border: 1px solid rgb(0, 255, 183);
          width: 60px;
          height: 50px;
          line-height: 50px;
}

table .tr3 .fourthCellWidth .plus {
          display: inline-block;
          border: 1px solid rgb(0, 255, 183);
          width: 60px;
          height: 50px;
          line-height: 50px;
}

/*  -------- 第三行的第四个单元格 -----    ------------    */
table .tr3 .fourthCellWidth .variation {
          display: inline-block;
          border: 1px solid rgb(0, 255, 183);
          width: 60px;
          height: 50px;
          line-height: 50px;
}

/* ---------------第三行 -------------------- */

table .tr3 .td3 {
          text-align: left;
          height: 160px;
          position: relative;
}

table .tr3 td {
          border: none;
}

table .tr3 .td3 img {
          position: absolute;
          height: 100px;
          top: 30px;
          right: 0px;
}
/* ------------- 第四行  - ----------------- */
table .tr4 .td4   {
          text-align: left;
          height: 160px;
          position: relative;
}
/* table下面的每行下面的class=fourthCell的单元格的布局 */
table tr .fourthCellWidth{
          text-align:center;
}
table tr .thirdCell {
          text-align:center;
}
table tr .fifthCell{
          text-align:center;
}
table .tr4 .fourthCellWidth .variation {
          display: inline-block;
          border: 1px solid rgb(0, 255, 183);
          width: 60px;
          height: 50px;
          line-height: 50px;
}

table .tr4 .fourthCellWidth .plus {
          display: inline-block;
          border: 1px solid rgb(0, 255, 183);
          width: 60px;
          height: 50px;
          line-height: 50px;
}

table .tr4 .fourthCellWidth .minusSign {
          display: inline-block;
          border: 1px solid rgb(0, 255, 183);
          width: 60px;

          height: 50px;
          line-height: 50px;
}



table .tr4 td {
          border: none;
}

table .tr4 .td4 img {
          position: absolute;
          height: 100px;
          top: 30px;
          right: 0px;
}
/* -----------------第四行---------------------------- */
.table-div {
          border: 2px solid rgb(147, 144, 144);
          width: 1200px;
          height: 70px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          /* 专门整治两个盒子一个靠上，一个靠下。 */
          margin-top: 20px;
}


/* ------------  div里面的数字0  ------------- */
.table-div  .zeroAmountTo {
          color: red;
}
/* -------------- 变化 数字 - 0  ------------------- */
.table-div .zero {
          color: rgb(255, 0, 238);
}

.table-div .left {
          display: inline-block;
          /* 禁止块级盒子自动独占一行 */
          height: 70px;
          border: 0px solid red;
          width: 600px;
          display: flex;
          align-items: center;
}

.table-div .left .continueShopping {
          margin-right: 20px;
          margin-left: 20px;
}

.table-div .left span {
          font-size: 23px;
          font-family: Noto Serif SC Black;
}

/* -------------------divider分割线--------------------- */
.table-div .right {
          display: inline-block;
          /* 禁止块级盒子自动独占一行 */
          height: 70px;
          border: 0px solid green;

          width: 600px;
          display: flex;
          justify-content: flex-end;
          /* 元素向右排列 */
          align-items: center;
}

.table-div .right span {
          font-size: 23px;
          font-family: Noto Serif SC Black;
}

.table-div .right .amountTo {
          margin-right: 40px;
}